<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Essaie d'envoie d'un email</h1>
    <p>Bonjour {{ nom }} {{ prenom }},</p>
    <p>Ceci est un test d'envoie d'email à partir d'un template.</p>
    <p>
        jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj
        jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj
        jjjjjjjjjjjjjjjjj
    </p>
</body>
</html>